/* button.scss */
@charset "UTF-8";
@import "common/var";
@import "mixins/mixins";
@import "mixins/utils";


@include b(button){
  display: inline-block;
  padding: 12px 20px;
  border-radius: 4px;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $--color-white;
  border: $--border-base;
  border-color: $--border-color-base;
  color: $--color-text-regular;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: $--font-weight-primary;
  @include utils-user-select(none);
  & + & {
    margin-left: 10px;
  }

  // 中等
  @include m(medium) {
    padding: 10px 20px;
  }

  // 小型
  @include m(small) {
    padding: 9px 15px;
    font-size: 12px;
  }

  // 超小
  @include m(mini) {
    padding: 7px 15px;
    font-size: 12px;
  }

}
