$namespace: 'zkj'; /* 组件库的样式前缀 B block 是这个加上我们的样式名  比如 zkj-button */
$element-separator: '__';/* 子元素连接符 E element*/
$modifier-separator: '--';/* 修饰连接符 M  modifier*/
$state-prefix: 'is-'; /* 样式状态前缀*/
